files:
  "/etc/httpd/conf.d/webaccess.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory /var/www/html/public>
      
      Options -Multiviews
      RewriteEngine On
      
      RewriteBase /customers/mvc/public
      
      RewriteCond %{REQUEST_FILENAME} !-d
      RewriteCond %{REQUEST_FILENAME} !-f
      
      RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

      # Redirect https www to naked
      RewriteCond %{HTTPS} on
      RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
      RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
      
      # Disable the Server Signature
      ServerSignature Off
      
      # Deflate
      <ifModule mod_deflate.c>
      AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
      AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml
      AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
      AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
      AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
      AddOutputFilterByType DEFLATE font/truetype font/opentype
      </ifModule>
      
      #Cache control
      <ifModule mod_headers.c>
      # Turn on Expires and set default expires to 3 days
      ExpiresActive On
      ExpiresDefault A259200
      
      # Set up caching on media files for 1 month
      <filesMatch ".(ico|gif|jpg|jpeg|png|flv|pdf|swf|mov|mp3|wmv|ppt|ttf)$">
      ExpiresDefault A2419200
      Header append Cache-Control "public"
      </filesMatch>
      
      # Set up 2 Hour caching on commonly updated files
      <filesMatch ".(xml|txt|html|js|css)$">
      ExpiresDefault A604800
      Header append Cache-Control "private, must-revalidate"
      </filesMatch>
      
      # Force no caching for dynamic files
      <filesMatch ".(php|cgi|pl|htm)$">
      ExpiresDefault A0
      Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
      Header set Pragma "no-cache"
      </filesMatch>
      </ifModule>
      
      # Disable etags
      FileETag None
      </Directory>
