files:
  "/etc/cron.d/clearrequests" :
    mode: "000644"
    owner: root
    group: root
    content: |
      #Clear requests every 5 minutes
      */5 * * * * php /var/www/html/cron_jobs/clear-requests.php > /dev/null 2>&1
      
      #Clear apache log files every 15 minutes
      */15 * * * * rm /var/log/httpd/*_log* > /dev/null 2>&1
      
      #Clear users
      0 2 * * * php /var/www/html/cron_jobs/clear-users.php > /dev/null 2>&1
