config_options:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 512M
    zlib.output_compression: On
    allow_url_fopen: Off
    display_errors: Off
    max_execution_time: 60

option_settings:
  - option_name:  DB_HOSTNAME
    value:  blank
  - option_name:  DB_USERNAME
    value:  blank
  - option_name:  DB_PASSWORD
    value:  blank
  - option_name:  DB_DATABASE
    value:  blank
  - option_name:  S3_ACCESS_KEY
    value:  blank
  - option_name:  S3_SECRET_KEY
    value:  blank
  - option_name:  KEY_BUCKET
    value:  blank
