files:
  "/tmp/install-clusterclient.sh" :
    mode: "000744"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      # Check if this is the very first time that this script is running
      if([ ! -f /home/ec2-user/.not-a-new-instance.txt ]) then
        newEC2Instance=true
      fi
      
      # Install applications if this is new instance
      if([ $newEC2Instance ]) then
        # Download then install memcached
        wget http://elasticache-downloads.s3.amazonaws.com/ClusterClient/PHP-5.6/latest-64bit /tmp/
        pecl install /tmp/AmazonElastiCacheClusterClient-1.0.0-PHP56-64bit.tgz
      fi
      
      # If new instance, now it is not new anymore
      if([ $newEC2Instance ]) then
        echo -n "" > /home/ec2-user/.not-a-new-instance.txt
      fi

  "/etc/php.d/80-memcached.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      session.save_path = 'yoururl.com:11211?persistent=1&weight=1&timeout=5&retry_interval=15'
      session.save_handler = memcached
      session.gc_maxlifetime = 3600
      session.gc_probability = 1
      session.gc_divisor = 1000
      session.use_cookies = 1      

commands:
  01install:
    command: /tmp/install-clusterclient.sh
