files:
  "/tmp/install-certbot.sh" :
    mode: "000744"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      wget https://dl.eff.org/certbot-auto
      mv certbot-auto /home/ec2-user/certbot-auto
      chmod a+x /home/ec2-user/certbot-auto
      service httpd stop
      /home/ec2-user/certbot-auto certonly --debug --non-interactive --email admin@yourdomain.com.au --agree-tos --standalone -d yourdomain.com.au -d www.yourdomain.com.au --keep-until-expiring
      service httpd start

  "/etc/cron.d/renewssl" :
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 */7 * * /home/ec2-user/certbot-auto renew

commands:
  01install:
    command: /tmp/install-certbot.sh
